html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'PokemonSolidNormal', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
}

@font-face {
  font-family: "PokemonSolidNormal";
  src: local("PokemonSolidNormal"), url("../assets/fonts/PokemonSolidNormal.ttf") format("truetype");
  font-weight: normal;
}